<head>
  <meta charset="UTF-8">
  <title>NAPIERDALAMY!!!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
#gameScreen {
  display: none;
}
#joyDiv {
  display: block;
}
</style>
</head>
<body>
  <li class="active"><a href="/joy">Create room</a></li>
  <section class="vh-100">
    <div class="container h-100">

      <div id="initialScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <h1>NAPIERDALAMY!!!</h1>
            <button
              type="submit"
              class="btn btn-success"
              id="newGameButton"
            >
              Create New Game
            </button>
            <div>OR</div>
            <div class="form-group">
              <input type="text" placeholder="Enter Game Code" id="gameCodeInput"/>
            </div>
            <button
              type="submit"
              class="btn btn-success"
              id="joinGameButton"
            ><a href="/joy">Create room</a>
              Join Game
            </button>
        </div>
      </div>

      <div id="gameScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">

          <h1>Your game code is: <span id="gameCodeDisplay"></span></h1>

          <canvas id="canvas"></canvas>
        </div>

      </div>
      <div id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>

    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="./joy.min.js"></script>
  <script src="./index.js"></script>
  <script>
    /**
 * @description Check if pt3 is on line defined by pt1 and pt2.
 * @param {Object} pt1 The first point defining the line.
 * @param {float} pt1.x
 * @param {float} pt1.y
 * @param {Object} pt2 The second point defining the line.
 * @param {float} pt2.x
 * @param {float} pt2.y
 * @param {Object} pt3 The point to test.
 * @param {float} pt3.x
 * @param {float} pt3.y
 */
function pointOnLine(pt1, pt2, pt3) {
    const result = {
        on_projected_line: true,
        on_line: false,
        between_both: false,
        between_x: false,
        between_y: false,
    };

    // Determine if on line interior or exterior
    const x = (pt3.x - pt1.x) / (pt2.x - pt1.x);
    const y = (pt3.y - pt1.y) / (pt2.y - pt1.y);

    // Check if on line equation
    result.on_projected_line = x === y;

    // Check within x bounds
    if (
        (pt1.x <= pt3.x && pt3.x <= pt2.x) ||
        (pt2.x <= pt3.x && pt3.x <= pt1.x)
    ) {
        result.between_x = true;
    }

    // Check within y bounds
    if (
        (pt1.y <= pt3.y && pt3.y <= pt2.y) ||
        (pt2.y <= pt3.y && pt3.y <= pt1.y)
    ) {
        result.between_y = true;
    }

    result.between_both = result.between_x && result.between_y;
    result.on_line = result.on_projected_line && result.between_both;
    return result;
}

console.log("pointOnLine({x: 0, y: 0}, {x: 1, y: 1}, {x: 2, y: 2})")
console.log(pointOnLine({x: 0, y: 0}, {x: 1, y: 1}, {x: 2, y: 2}))

console.log("pointOnLine({x: 0, y: 0}, {x: 1, y: 1}, {x: 0.5, y: 0.5})")
console.log(pointOnLine({x: 0, y: 0}, {x: 0, y: 0}, {x: 0, y: 0}))
  </script>
</body>
</html>